// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.cat {

    min-height: 600px;
    width: 100%;
    color: white;
    padding: 2rem;



    &__wrapper {
        width: 100%;
        height: 900px;
        position: relative;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 5rem;
        margin: auto;

        @media (min-width: 800px) {
            height: 500px !important;
        }
    }

    &__image {
        max-width: 100%;
        opacity: 0.6;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
        transform-origin: 90% center;
    }



    &__cards {
        position: relative;
        min-height: 100%;
        border: 2px solid rgb(0, 0, 0);
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);

        &:hover {
            transform: translateX(-1rem);

            .cat__image {
                opacity: 0.8;
                transform: scale(1.2);
            }
        }
    }

    &__card {
        padding: 70px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 1s ease-out;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
    }
}

//newsletter
.mailing-list {
    display: grid;
    place-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
    margin: 80px auto 150px auto;
    padding: 0 50px;
    max-width: 400px;

    a {
        font-family: $primary-font-stack;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: black;
        border: 2px solid black;
        padding: 20px 30px;
        margin-top: 20px;
        border-radius: 20px;
        transition: background-color .1s ease-in-out, box-shadow .3s ease-in-out;

        &:hover {
            background-color: #275EFE;
            color: white;
            box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.9);
        }
    }
}


.button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.button--atlas>span {
    display: inline-block;
}

.button--atlas:hover>span {
    opacity: 0;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 2s linear infinite;
    animation-play-state: paused;
    opacity: 0;
}

.button--atlas:hover .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;

}

.marquee span {
    text-align: center;
    white-space: nowrap;
    font-style: italic;
    padding: 1.5rem 0.5rem;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


//products

$gray: #555;
$yellow: #f2e968;
$white: #efefef;









.items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.items::-webkit-scrollbar {
    height: .8rem;
    border-radius: 20px;
}

.items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 80%;
}

.items::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 20px;
}

.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.item {
    display: inline-block;
    min-height: 400px;
    min-width: 400px;
    margin-right: 2rem;
    margin-bottom: 3rem;

    img {
        width: 100%;
    }

    @media screen and (max-width: 500px) {
        min-height: 300px;
        min-width: 300px;


    }
}


.product__desc {
    color: black;
}

.product__size {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: black;
}