// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.cat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;

    &__card {
        margin: 50px;
        padding: 30px 50px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
            font-size:30px;
            display: flex;
            flex-direction:row;
            align-items: center;
            gap: 10px;
        }

    }
}

.mailing-list{
    display: grid;
    place-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
    margin: 200px auto;
    padding: 0 50px;
    max-width: 400px;

    a{
         font-family: $primary-font-stack;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: black;
         border: 2px solid black;
         padding: 20px 30px;
         margin-top: 20px;
    }
}