// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
}

$blue:#275EFE;

.footer {
    width: 100%;

    >* {
        text-align: center;

        @media (min-width:1000px) {
            text-align: left;
        }
    }



    background-color: black;
    color: white;

    &__wrapper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: start;
        justify-items: center;
        padding: 200px 10px 50px 10px;
    }


    //newsletter
    &__newsletter {

        &__title {
            margin-top: -100px;
            margin-bottom: 50px;
            font-size: 2.5rem;
        }


        &__form {
            display: flex;
            height: 60px;
            margin: 20px 0 50px -5px;


            input[type="text"] {
                width: 80%;
                padding-left: 20px;
                border-radius: 20px 0 0 20px;
                background-color: black;
                border: 1px solid white;
            }

            input[type="submit"] {
                border: 1px solid white;
                background-color: black;
                color: white;
                width: 20%;
                border-radius: 0 20px 20px 0;
            }

            &:hover {

                input[type="submit"],
                input[type="text"] {
                    opacity: 0.5;
                    transition: all .3s ease-in-out;

                }
            }
        }

    }

    //links
    &__links__items {
        margin: 0 0 50px 0;

        a {
            color: white;
            text-transform: uppercase;

            svg {
                width: 76px;
                height: 40px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 7px) translateZ(0);
                fill: none;
                stroke: var(--stroke, var(--line));
                stroke-linecap: round;
                stroke-width: 2px;
                stroke-dasharray: var(--offset, 69px) 278px;
                stroke-dashoffset: 361px;
                transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
            }

            &:hover {
                --spacing: 4px;
                --stroke: var(--line-active);
                --stroke-delay: .1s;
                --offset: 180px;
            }
        }

    }


    //socials
    &__socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        &__icon {
            border: 1px solid white;
            padding: 10px 14px;
            border-radius: 50%;
            color: white;

            .fa-brands {
                color: white;
            }

            &:hover {
                opacity: .4;
                transition: all .4s ease-in-out;
            }
        }
    }

    &__copyright {
        text-align: center;
        background-color: rgb(27, 27, 27);
        padding: 25px;
        font-size: .8em;
        color: #5f5f5f;
    }
}


:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
    --stroke-width: 1px;
}

.footer__links__item {
    a {
        position: relative;
        margin: 0 var(--spacing, 0px);
        transition: margin .25s;

        svg {

            height: 40px;
            position: absolute;
            bottom: 0;
            left: 30px;
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-linecap: round;
            stroke-width: var(--stroke-width);
            stroke-dashoffset: 361px;
            transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
        }

        &:hover {
            --stroke-width: 3px;
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: .1s;
            --offset: 180px;
        }
    }
}