/* js related class */

#cart-btn {
    display: grid;
}

#cart-count-info {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #001d73;
    color: #fff;
    font-size: .8rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart-container {
    position: absolute;
    overflow-y: scroll;
    background: #fff;
    width: 90vw;
    height: 80vh;
    top: 60px;
    right: -20%;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
    padding: 20px;
    border: 1px solid black;
    max-width: 500px;
}

.cart-container::-webkit-scrollbar {
    width: 10px; //for horizontal scrollbar
}


.cart-container::-webkit-scrollbar-thumb {
    background: rgba(68, 118, 255, 0.432);
    border-radius: 15px;
    width: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: 2.2rem;
    }
}

/* js related class */
.show-cart-container {
    display: block;
}

/*  */
.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.cart-item:last-child {
    border-bottom: none;
}



.cart-list {
    margin-top: 40px;
}

.cart-alert {
    display: block;
    position: relative;
    text-align: center !important;
    padding: 40px 0;
}

.cart-item-del-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    border: none;
    color: rgb(0, 0, 0);

    background-color: white;


    &:hover {
        color: #275EFE;
        background-color: white;
    }

}

.cart-item img {
    width: 100%;
    height: 100%;
    max-height: 110px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.cart-item-info {
    margin-left: 10px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.cart-item-info span {
    display: block;
}

.cart-item-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
}

.cart-item-price {
    margin-top: auto;
    font-weight: 600;
    font-size: 1.3rem;
}

.cart-item-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
}

.cart-edit-link {
    color: grey;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: .8rem;
}

.cart-total {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: rgb(0, 0, 0);
}

.cart-total h3 {
    margin-right: 0.2rem;
    font-size: 1.3rem;
}

#cart-total-value {
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout {
    width: 100%;
    border-radius: 30px;
    text-align: center;
    padding: 1rem !important;
    border: 1px solid black !important;
    margin-top: 20px !important;
    background-color: white !important;

    &:nth-of-type(1) {
        margin-top: 40px !important;
        background-color: #275EFE !important;
        color: white;
    }
}

/* products */
.products {
    max-width: 1400px;
    padding: 6rem 2rem;

    &__title {
        margin-left: .3rem;
        text-transform: uppercase;
        @media (min-width:600px) {
              margin-left: .8rem;
            font-size: 2.8rem;
        }

         @media (min-width:1000px) {
              margin-left: .8rem;
            font-size: 6rem;
        }
    }
     @media (min-width:1200px) {
      margin: 0 auto;
     }
}

.product-item {
    margin: 1rem 0;
}

.product-img {
    background: rgba(128, 128, 128, 0.245);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;

    &:hover {
        img {
            opacity: 0;
            transition: opacity 1s;
        }

        .image-hover {
            opacity: 1;
            transition: opacity 1s;
        }
    }
}

.product-img img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}


.image-hover {
    opacity: 0;
}


.product-content-left {
    padding: 1rem .3rem 0 .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: black;
    color: #fff;
    transition: 1s ease-out;
    opacity: 0;
}

.item:hover .add-to-cart-btn {
    opacity: 1;
}

.add-to-cart-btn .fas {
    margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
    background-color: #004d87;
}



.product-name {
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 30px;

    @media (min-width:600px) {
        font-size: 1.7rem;
    }

}

.product-category {
    font-weight: 500;

    margin-left: .3rem;
}

.product-price {
    font-size: 1.15rem;
    font-weight: 600;
    opacity: 0.7;
}



/* Media Queries for responsiveness */

@media screen and (min-width: 680px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {

    .cart-container {
        right: 0rem;
    }

}



//banner
.banner {
    padding: 0 30px;
    width: 100%;
    position: relative;

    img {
        max-width: 100%;
        height: auto;
        border: 1px solid black;
    }

    picture {
        margin-left: auto;
        /* 2 */
        margin-right: auto;
        /* 2 */

    }

    a {
        position: absolute;
        transform: translate(-50%, -50%);
        margin-right: -50%;
        bottom: 10%;
        left: 50%;
        font-family: $primary-font-stack;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: black;
        background-color: white;
        border: 2px solid black;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 20px;
        transition: background-color .1s ease-in-out, box-shadow .3s ease-in-out;

        &:hover {
            background-color: #275EFE;
            color: white;
            box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.9);
        }
    }



    @media (min-width:1200px) {
        img {
            max-width: 1300px;
            margin: auto;
            display: flex;
            width: 100%;
        }

        a {
            font-size: 1.8rem;
        }

        source {
            border: none;
        }
    }
}