// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}



@mixin site-grid($column:repeat(4, 1fr), $column-l:repeat(12, 1fr)){
  display: grid;
  grid-template-columns: $column;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  margin: 0 14px;

  @media (min-width:1000px) {

      grid-template-columns: $column-l;
      grid-column-gap: 16px;
      margin: 0 80px;
  }
}