// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

//cursor
.cursor {
  position: absolute;
  background: rgb(2, 14, 105);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  z-index: 999999;

}

.cursor::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  content: "shop the collection";
  border-radius: 100%;
  opacity: 0;
}

.cursor.active-mouse {
  opacity: 1;
  transform: scale(1);
  width: 250px;
  height: 50px;
  border-radius: 30px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}

.cursor.active-mouse::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background: rgba(42, 235, 239, 0.685);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
  z-index: 999999;
}

.cursor-follower.active-mouse {
  opacity: 1;
  transform: scale(0);
}